.action-row {
    display: flex;
    justify-content: space-between;
    margin-left: 1vw;
    margin-right: 1vw;
    align-items: center;
}

.action-row-group {
    display: flex;
    flex: 1;
}

.range {
    font-weight: bold;
}

.attack-bonus {
    border:  1px solid black;
    border-radius: 8px;
}

.damage {
    border:  1px solid black;
    border-radius: 8px;
}