.action-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.range {
    font-weight: bold;
}

.range2 {
    font-size: small;
}

.attack-bonus {
    border:  1px solid black;
    border-radius: 8px;
}

.damage {
    border:  1px solid black;
    border-radius: 8px;
}