.minion {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--minion-color);
}

.title-row {
    display: flex;
    justify-content: flex-start;
}

.minion-name {
    display: flex;
    flex: 2;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
}

.hp-group {
    display: flex;
    flex: 1;
    border-radius: 8px;
    border: 1px solid;
}

.hp-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex: 1;
    margin-left: 1vw;
    margin-right: 1vw;
    gap: .1vh;
}

.hp-button {
    display: flex;
    justify-content: center;
    padding: 0;
    border-radius: 2px;
}

.hp-input {
    width: 100%;
    padding: 0;
    text-align: center;
    border-radius: 2px;
}

.ability-score-group {
    display: flex;
    flex-direction: column;
    gap: .1em;
}

.ability-score-group > .row {
    gap: .1em;
}

.characteristic-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    flex: 1;
}

.title {
    display: flex;
    color: var(--minion-color);
    font-weight: bold;
    font-size: large;
}

.info-square {
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    align-self: center;
    flex: 1;
    aspect-ratio: 1;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.apply-effect {
    display: flex;
    flex: 1;
    aspect-ratio: 1;
    padding: 0;
    align-items: center;
}

.scooted {
    margin-left: 2vw;
}